body {
  background-image: url(../img/main-bg.jpg);
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.logintotal {
  width: 85%;
  margin: auto;
  max-width: 1300px;
}

.login-area {
  margin-top: 11%;
  padding: 0px !important;
}

.loginimg-main {
  width: 60%;
  margin: auto;
}

.login-img {
  width: 200px;
  height: auto;
}

.loginform {
  margin-top: 40px;
}
.loginform form .field {
  width: 100%;
  margin-bottom: 20px;
}
.loginform form .field.shake {
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    margin-left: 0px;
  }
  20%,
  80% {
    margin-left: -12px;
  }
  40%,
  60% {
    margin-left: 12px;
  }
}
.loginform form .field .input-area {
  height: 50px;
  width: 100%;
  position: relative;
  margin: auto;
}
.loginform form input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 60px;
  font-size: 18px;
  background: none;
  color: #000;
  border-radius: 50px;
  border: 1px solid #bfbfbf;
  /*border-bottom-width: 2px;*/
  transition: all 0.2s ease;
  background: #fff;
  box-shadow: -4px 0px 0px 0px rgba(153, 153, 153, 0.75);
  -webkit-box-shadow: -4px 0px 0px 0px rgba(153, 153, 153, 0.75);
  -moz-box-shadow: -4px 0px 0px 0px rgba(153, 153, 153, 0.75);
}
.loginform form .field input:focus,
.loginform form .field.valid input {
  border-color: #f67a6e;
}
.loginform form .field.shake input,
.loginform form .field.error input {
  border-color: #dc3545;
}
.loginform .field .input-area i {
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
  left: 5%;
}
.loginform .input-area .icon {
  left: 30px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.rightborder {
  border-right: solid 1px #ccc;
  position: absolute;
  left: 12.5%;
  top: 11px;
  width: 2px;
  height: 28px;
}
.loginform .input-area .error-icon {
  right: 15px;
  color: #dc3545;
}
.loginform form input:focus ~ .icon,
.loginform form .field.valid .icon {
  color: #f67a6e;
}
.loginform form .field.shake input:focus ~ .icon,
.loginform form .field.error input:focus ~ .icon {
  color: #bfbfbf;
}
.loginform form input::placeholder {
  color: #bfbfbf;
  font-size: 17px;
}
.loginform form .field .error-txt {
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
  margin-left: 48px;
}
.loginform form .field .error {
  display: none;
}
.loginform .field.shake .error,
.loginform form .field.error .error {
  display: block;
}
.loginform form .pass-txt {
  text-align: left;
  margin-top: -10px;
  font-size: 14px;
  margin-right: 15px;
  float: right;
}
.loginform form .pass-txt a {
  color: #e56b60;
}
.loginform form .pass-txt a:hover {
  text-decoration: underline;
}

.loginform form input[type="submit"] {
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #f67a6e;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.loginform form input[type="submit"]:hover {
  background: #f67a6e;
}
.sign-txt {
  margin-top: -10px;
  padding: 0;
  color: #747474;
  font-size: 14px;
  margin-left: 16px;
  float: left;
}
.sign-txt a {
  color: #000;
}
.sign-txt a:hover {
  color: #000;
  text-decoration: underline;
}

.offer-area {
  margin-top: 8%;
}
.offerimg-main {
  width: 50%;
  margin: auto;
}

.offer-img {
  width: 250px;
  height: auto;
}
.offer-para {
  color: #363636;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  white-space: pre-wrap;
}

.review-area {
  margin-top: 3%;
}
.review-shape {
  margin-top: 50px;
  background: #fff;
  border-radius: 35px;
  border: solid 2px #c5c5c5;
  width: 100%;
  padding: 15px 0px;
  box-shadow: 0px 10px 0px 0px rgba(202, 202, 202, 0.75);
  -webkit-box-shadow: 0px 10px 0px 0px rgba(202, 202, 202, 0.75);
  -moz-box-shadow: 0px 10px 0px 0px rgba(202, 202, 202, 0.75);
  padding-bottom: 10px !important;
}
.review-headbg {
  background: #f67a6e;
  padding: 5px 10px;
  border-radius: 25px;
  width: 60%;
  margin: auto;
}
.review-headbg h1 {
  font-size: 17px;
  margin: 0px;
  color: #fff;
  text-align: center;
}
.review-bg {
  background: #f9f9f9;
  border: solid 1px #e7e7e7;
  box-shadow: 0px 0px 6px 1px rgba(213, 213, 213, 0.75) inset;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(213, 213, 213, 0.75) inset;
  -moz-box-shadow: 0px 0px 6px 1px rgba(213, 213, 213, 0.75) inset;
  width: 92%;
  margin: auto;
  margin-top: 15px;
}

#reviewer-slide {
  padding: 0px 20px;
  margin: 15px auto;
}

#reviewer-slide a {
  text-decoration: none;
}
.reviewer-inner-slide {
  width: 100%;
}
.reviewer-inner-slide ul li {
  list-style: none;
  display: block;
  padding-bottom: 1px;
  margin-bottom: 5px;
}
/* .review-member
{
margin-top:5px;
} */
.review-date {
  color: #a3a3a3;
  font-size: 12px;
}
.review-content {
  color: #787878;
  font-size: 14px;
  margin: 10px 0px;
  line-height: 17px;
}
.review-by {
  color: #f67a6e;
  font-size: 14px;
}
.review-by .review-name {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.reviewhr {
  border-top: solid 1px #dcdcdc;
  margin-top: 10px;
  margin-bottom: 0px;
}
.mobilemenu-bg {
  background: #f67a6e;
  border-radius: 80px;
  width: 62px;
  margin: auto;
  padding: 14px;
  margin-top: 10px;
  box-shadow: 0px 0px 6px 1px rgba(166, 56, 56, 0.75) inset;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(166, 56, 56, 0.75) inset;
  -moz-box-shadow: 0px 0px 6px 1px rgba(166, 56, 56, 0.75) inset;
}

.proceed-btn {
  background: #f67a6e;
  border-radius: 60px;
  padding: 5px 10px;
  text-align: center;
  padding: 8px 16px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 22px;
  box-shadow: 0px 5px 0px 0px rgba(181, 67, 56, 1);
  -webkit-box-shadow: 0px 5px 0px 0px rgba(181, 67, 56, 1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(181, 67, 56, 1);
}
.proceed-btn a {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}
.proceed-btn a:hover {
  color: #fff;
  text-decoration: none;
}
@media only screen and (min-width: 375px) and (max-width: 650px) {
  .offer-para {
    white-space: inherit;
  }
  .offerimg-main {
    width: 69%;
    margin: auto;
  }
  .review-area {
    margin-bottom: 50px;
    margin-top: 40px;
  }
  .review-headbg h1 {
    font-size: 14px;
  }
  .loginimg-main {
    width: 53%;
    margin: auto;
  }
  .rightborder {
    left: 11%;
  }
}


.registerarea {
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
}

.col-lg-6.p-5 {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.proceed-btn1 {
  max-width: 300px;
  margin: 20px auto;
}
.proceed-btn1 button {
  width: 100%;
}
h3 {
  font-weight: 600;
  font-size: 24px;
}
p {
  font-size: 14px;
  color: #555;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    z-index: 2;
}

.form-control {
    padding-left: 2.5rem !important; /* Make space for icon */
    height: 45px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    width: 100%;
    padding: 12px 20px 12px 48px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #fff;
    font-size: 14px;
    height: 45px;
    transition: border-color 0.3s;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

.input-wrapper input:focus {
    outline: none;
    border-color: #aec785;
}

.input-wrapper .icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    z-index: 2;
}

.proceed-btn1 {
    background: #aec785;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 5px 0 #5a6d3b;
    width: 80%;
    margin: 25px auto;
    text-align: center;
}

.proceed-btn1 button {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

