version: "3"
services:
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - 5050:80
    networks:
      - ${NETWORK}
    environment:
      PGADMIN_DEFAULT_EMAIL: ariesview@ariesview.com
      PGADMIN_DEFAULT_PASSWORD: ZxtIOj6sLbSGTP0Vd3N7BNjMO

networks:
  ariesview:
    name: ${NETWORK}
    driver: bridge
