########################################
# Pipeline stages:
# - build-push-docker-image: Build and push Docker image
# - deploy-develop: Deploy to the development environment
########################################
image: docker:stable

stages:
  - build-push-docker-image
  - deploy-develop

# Environment variables
variables:
  GIT_STRATEGY: none
  PROJECT_NAME: $CI_PROJECT_NAME
  CONTAINER_NAME_DEV: "${PROJECT_NAME}-dev"
  IMAGE_TAG_DEV: "dev-$CI_COMMIT_SHORT_SHA"
  CONTAINER_PORT_DEV: "8888:8888"
  DOCKER_NETWORK: "ariesview"

before_script:
  - apk add --no-cache git
  - git clone https://root:${CI_REPO_PAT}@gitlab.ariesview.com/ariesview/data-ai/ocr.git .

########### BUILD DOCKER IMAGE #################

build-docker-image:
  stage: build-push-docker-image
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_TOKEN" $CI_REGISTRY
    - docker system prune -af
    - docker build --platform linux/amd64 --pull -t "$CI_REGISTRY/${PROJECT_NAME}:$IMAGE_TAG_DEV" .
    - docker push "$CI_REGISTRY/${PROJECT_NAME}:$IMAGE_TAG_DEV"
  only:
    - develop

########### DEPLOYMENT #################

deploy:
  image: alpine:latest
  stage: deploy-develop
  needs:
    - build-docker-image
  script:
    - echo "Deploying to development environment"
    - chmod 600 $ID_RSA_GPU
    - apk update && apk add openssh-client
    - |
      ssh -i $ID_RSA_GPU -o StrictHostKeyChecking=no $SERVER_USER_GPU@$SERVER_IP_GPU "
        docker login -u \"$CI_REGISTRY_USER\" -p \"$CI_REGISTRY_TOKEN\" \"$CI_REGISTRY\" && \
        docker system prune -f && \
        docker pull \"$CI_REGISTRY/${PROJECT_NAME}:$IMAGE_TAG_DEV\" && \
        docker container rm -f \"${CONTAINER_NAME_DEV}\" || true && \
        docker run -d \
          --gpus all \
          --platform linux/amd64 \
          -p \"$CONTAINER_PORT_DEV\" \
          --name \"${CONTAINER_NAME_DEV}\" \
          --network \"$DOCKER_NETWORK\" \
          -e OCR_SERVICE_API_KEY=\"$OCR_SERVICE_API_KEY\" \
          \"$CI_REGISTRY/${PROJECT_NAME}:$IMAGE_TAG_DEV\"
      "
  only:
    - develop
