########################################
# Pipeline stages:
# - build-push-docker-image: Build and push Docker image
# - deploy-develop: Deploy to the development environment
########################################
image: docker:stable

services:
  - docker:dind

stages:
  - build-push-docker-image
  - deploy-develop

# Environment variables
variables:
  GIT_STRATEGY: none
  PROJECT_NAME: $CI_PROJECT_NAME
  CONTAINER_NAME_DEV: "${PROJECT_NAME}-dev"
  IMAGE_TAG_DEV: "dev-$CI_COMMIT_SHORT_SHA"
  CONTAINER_PORT_DEV: "5000:5000" # Updated to match Flask app's port

before_script:
  - apk add --no-cache git
  - git clone https://root:${CI_REPO_PAT}@gitlab.ariesview.com/ariesview/back/financal-calculation.git .

########### BUILD DOCKER IMAGE #################

build-docker-image-dev:
  stage: build-push-docker-image
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_TOKEN" $CI_REGISTRY
    - docker build --pull -t "$CI_REGISTRY/${PROJECT_NAME}:$IMAGE_TAG_DEV" .
    - docker push "$CI_REGISTRY/${PROJECT_NAME}:$IMAGE_TAG_DEV"
  only:
    - develop

########### DEPLOYMENT #################

deploy_dev:
  image: alpine:latest
  stage: deploy-develop
  needs: [build-docker-image-dev]
  script:
    - echo "Deploy to development environment"
    - chmod 600 $ID_RSA
    - apk update && apk add openssh-client
    # Login and deploy container
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_TOKEN $CI_REGISTRY"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker pull $CI_REGISTRY/${PROJECT_NAME}:$IMAGE_TAG_DEV"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker container rm -f ${CONTAINER_NAME_DEV} || true"
    - ssh -i $ID_RSA -o StrictHostKeyChecking=no $SERVER_USER@$SERVER_IP "docker run -d -p $CONTAINER_PORT_DEV --name ${CONTAINER_NAME_DEV} --network ariesview $CI_REGISTRY/${PROJECT_NAME}:$IMAGE_TAG_DEV"
  only:
    - develop
